assignment multiple operator

In [ ]:
salary  = 100
#salary = salary*5
salary *= 5
print(salary)

Bit - wise operator

In [ ]:
10 & 9

In [3]:
10 |9

11

right shift

In [12]:
11>>2
#11//2**2

2

left shift

In [11]:
11<<2
# 11*2**2

44

membership operator

In [20]:
"r" and "j" in "rajasthan"

True

indentity operator

In [32]:
age =19
type(age) is int

True

In [34]:
if(age == 18):
    print("yes")
elif(age == 19):
    print("19")
else:
    print("no")

19

In [40]:
num1 = 40
num2 = 90
num3 = 30
if(num1 >= num2 and num1 >= num3) :
    print("num1")
elif(num2 >= num3 and num2 >= num1) :
    print("num2")
else:
    print("num3")

num2

In [44]:
a = "rtkktt"
if(type(a)== str):
    print(len(a))
else:
    print(not string)

6

In [47]:
num = 16
if(num%6==0):
    print("divisible")
else:
    print("not divisible")

not divisible

In [55]:
age = 18
user = "tushar"
if(age == 18):
    if(user == "tushar"):
        print("user",user,age)
    else:
        print("name is not tushar")
else:
    print("Age is not 18")

user tushar 18

In [62]:
a=input("Enter a number")

Enter a number 6

In [63]:
print(type(a))

<class 'str'>

In [3]:
a =int(input("enter a number"))
if (type(a) == int):
    if(6 <= a and a<=20):
        print(a)
    else: 
        print("not in between 6 to 20")
else:
    print("not an integer")

enter a number 5

not in between 6 to 20

In [122]:
int = 6;
for a in range(50,1,-2):
    print(a,end=" ")

50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [125]:
a = "hello"
for chr in a:
    print(chr,end = " ")

h e l l o

In [130]:
for i in range(10,25,3):
    if(i%2==0):
        print(i)
    else:
        print("     ",i)

10
      13
16
      19
22

In [ ]:
name = input("enter a string")
for i in range(0,len(name)):
    if(i%2 == 0):
        print(i,name[i])

In [6]:
num = int(input("enter a number"))
for i in range(0,num):
    if(i%2 == 0):
        print(i)

enter a number 5

0
2
4

In [8]:
n = 9
for i in range(1,n+1):
    for j in range(1,n+1):
        if(i==1 or i==n or j==1 or j==n):
                print("*",end="")
        else:
            print(" ",end="")
    print("")

*********
*       *
*       *
*       *
*       *
*       *
*       *
*       *
*********

In [2]:
for row in range(1,6):
    for column in range(1,6):
        print(row+column," ",end=" ")
    print("")

2   3   4   5   6
3   4   5   6   7
4   5   6   7   8
5   6   7   8   9
6   7   8   9   10

In [10]:
n=1
for row in range(1,6):
    for column in range(1,row+1):
        print(n,end=" ")
        n += 1
    print("")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [23]:
for row in range(1,5):
    for column in range(5,row,-1):
        print("*",end=" ")
    print("")

* * * *
* * *
* *
*